body {
    width: 100%;
    height: 100%;
    color: white;
    background-image: linear-gradient(to left, #512DA8,#FF4081);
    font-family:  'Segoe UI';
}
h1 {
    text-align: center;
    font-weight: 400;
    font-size: 45px;
    line-height: 1.7;
}
h2 {
    padding-left: 5%;
    font-weight: 400;
    font-size: 32px;
    line-height: 0.8;
}
h3 {
    font-weight: 400;
    padding-left: 5%;
}

div.whitebg {
    padding: 20px;
    width: 80%;
    overflow: hidden;
    background-color: white;
    color: #24292e;
    align-content: left !important;
    margin:0 auto;   
}
span {
    font-family: Consolas !important;
}

.Download {
    background-color: white; /* Green */
    border: none;
    color: #FF4081;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border: 2px solid #FF4081; /* Green */
    border-radius: 12px;
    -webkit-transition: 1s; /* Safari */
    transition: 1s
}
.Download:hover {
    background-color: #FF4081;
    color: white;
}
.box
{
    width: 20px;
}
